:root {
    --color--bg: #eeeeee;
    --color--bg--secondary: #e6d9d9;
    --color--text: #000000;
    --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --border-radius: 0.35rem;
}

.navbar {
    display: flex;
    box-shadow: var(--box-shadow);
}

.header {
    display: flex;
    align-items: center;

}

.fa-ghost {
    font-size: 40px;
}